.header {
    position: relative;
    height: 130px;
    background-color: #357fcb;
    width: 100%;
}
.header img{
    float: left;
    position: absolute;
    left: 20px;
    top: 2px;
}
.header h1 {
    position: relative;
    top: 45px;
    left: 200px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-family: georgia;
    font-size: 40px;
    width: 600px;
}
h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 30px;
}
h3 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 25px;
}
body {
    margin: 2px;
    background-color: skyblue;
    text-align: center;
    font-family: Verdana, sans-serif;
}
main {
    margin-left: 50px; 
    margin-right: 50px;
}
ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    padding-left: 200px;
    overflow: hidden;
    background-color: cornflowerblue;
    margin: 0px;
}
.horizontal{
    float: left;
}
li a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #00c2cb;
}
.active {
    background-color: #357fcb;
}
.vertical {
    height: 100%;
    overflow: auto;
    width: 200px;
    margin-left: 0px;
    padding-left: 0px;
}
.contentRight {
    margin-left: 250px; 
    margin-top: -570px;
    margin-right: 50px;
}